<span class="tw-inline-block tw-transition tw-duration-300 tw-ease-in-out hover:tw--translate-y-1 hover:tw-scale-110">
  <svg
    width="35"
    height="35"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    class="tw-fill-current tw-text-white hover:tw-text-[#ffc62d] tw-transition-colors tw-duration-300"
  >
    <title>Icon - TikTok</title>
    <path
      d="M15.429,0H4.571C2.047,0,0,2.047,0,4.571v10.857c0,2.525,2.047,4.571,4.571,4.571h10.857c2.525,0,4.571-2.047,4.571-4.571V4.571c0-2.525-2.047-4.571-4.571-4.571ZM16.991,8.367c-.118.011-.236.018-.357.018-1.358,0-2.553-.679-3.249-1.706v5.808c0,2.372-1.98,4.294-4.419,4.294-2.439-.001-4.418-1.923-4.419-4.294,0-2.371,1.979-4.293,4.419-4.293.093,0,.182.008.273.013v2.116c-.091-.01-.179-.026-.273-.026-1.246,0-2.255.981-2.255,2.19,0,1.21,1.008,2.192,2.255,2.192,1.246,0,2.346-.954,2.346-2.165,0-.071.022-9.862.022-9.864h2.081c.196,1.808,1.698,3.235,3.576,3.366v2.351Z"
    />
  </svg>
</span>
