<span class="tw-inline-block tw-transition tw-delay-150 tw-duration-300 tw-ease-in-out hover:tw--translate-y-1 hover:tw-scale-110">
  <svg
    width="35"
    height="35"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    class="tw-fill-[#ffffff] hover:tw-fill-[#ffc62d] tw-transition-colors tw-duration-300"
  >
    <title>Icon - Facebook</title>
    <rect width="20" height="20" fill="none"></rect>
    <path
      d="M14.984,0H5C2.254,0,0,2.254,0,5.016v9.984c0,2.746,2.254,5,5,5h9.984c2.761,0,5.016-2.254,5.016-5.016V5.016c0-2.761-2.254-5.016-5.016-5.016ZM12.682,10h-1.889v6.191h-2.381v-6.191h-1.27v-2.54h1.111v-1.079c0-1.017.507-2.62,2.651-2.62h1.952v2.112h-1.381c-.222,0-.524.143-.524.635v.952h1.953l-.223,2.54Z"
    />
  </svg>
</span>
