<span class="tw-inline-block tw-transition tw-duration-300 tw-ease-in-out hover:tw--translate-y-1 hover:tw-scale-110">
  <svg
    width="35"
    height="35"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    class="tw-fill-current tw-text-white hover:tw-text-[#ffc62d] tw-transition-colors tw-duration-300"
  >
    <title>Icon - Instagram</title>

    <path
      d="M14.445,0H5.555C2.487,0,0,2.487,0,5.555v8.89c0,3.068,2.487,5.555,5.555,5.555h8.89c3.068,0,5.555-2.487,5.555-5.555V5.555c0-3.068-2.487-5.555-5.555-5.555ZM10,15.555c-3.068,0-5.555-2.487-5.555-5.555s2.487-5.555,5.555-5.555,5.555,2.487,5.555,5.555-2.487,5.555-5.555,5.555ZM16.667,4.445c-.614,0-1.112-.498-1.112-1.111s.498-1.111,1.112-1.111,1.111.498,1.111,1.111-.498,1.111-1.111,1.111Z"
    />

    <path
      d="M10,6.667c-.219,0-.435.021-.65.064-.215.043-.423.106-.626.191-.202.083-.394.186-.576.307-.182.122-.35.26-.505.415-.154.155-.293.323-.415.505-.121.182-.224.374-.307.576-.084.203-.148.411-.191.626-.043.215-.064.431-.064.65s.021.435.064.65c.043.215.106.423.191.626.083.202.186.394.307.576.122.182.26.35.415.505.155.154.323.293.505.415.182.121.374.224.576.307.203.084.411.148.626.191.215.043.431.064.65.064s.435-.021.65-.064c.215-.043.423-.106.626-.191.202-.083.394-.186.576-.307.182-.122.35-.26.505-.415.154-.155.293-.323.415-.505.121-.182.224-.374.307-.576.084-.203.148-.411.191-.626.043-.215.064-.431.064-.65s-.021-.435-.064-.65c-.043-.215-.106-.423-.191-.626-.083-.202-.186-.394-.307-.576-.122-.182-.26-.35-.415-.505-.155-.154-.323-.293-.505-.415-.182-.121-.374-.224-.576-.307-.203-.084-.411-.148-.626-.191-.215-.043-.431-.064-.65-.064Z"
    />
  </svg>
</span>
