<span class="tw-inline-block tw-transition tw-duration-300 tw-ease-in-out hover:tw--translate-y-1 hover:tw-scale-110">
  <svg
    width="35"
    height="35"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    class="tw-fill-current tw-text-white hover:tw-text-[#ffc62d] tw-transition-colors tw-duration-300"
  >
    <title>Icon - YouTube</title>

    <g id="YouTube">
      <path
        d="M15.429,0H4.571C2.047,0,0,2.047,0,4.571v10.857c0,2.525,2.047,4.571,4.571,4.571h10.857c2.525,0,4.571-2.047,4.571-4.571V4.571c0-2.525-2.047-4.571-4.571-4.571ZM16.571,10.496c0,1.059-.13,2.116-.131,2.128,0,0-.128.906-.523,1.304-.501.524-1.06.526-1.317.557-1.838.131-4.599.136-4.6.136,0,0-3.417-.031-4.469-.131-.293-.056-.95-.038-1.45-.562-.393-.398-.521-1.304-.521-1.304-.001-.012-.131-1.071-.131-2.128v-.996c0-1.054.131-2.111.133-2.128,0,0,.126-.906.521-1.304.501-.524,1.06-.526,1.317-.557,1.828-.133,4.569-.134,4.597-.134h.006c.028,0,2.769.001,4.597.134.257.031.816.033,1.317.557.395.398.523,1.304.523,1.304.002.015.131,1.073.131,2.128v.996Z"
      />
      <polygon points="12.192 9.865 8.642 11.706 8.642 8.012 12.192 9.865" />
    </g>
  </svg>
</span>